@model IEnumerable<Projeto1Loja.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<link href="~/css/listaProduto.css" rel="stylesheet" />

<p>
    <a asp-controller="Produto" asp-action="CadastrarProduto" class="btn btn-primary">Cadastrar Produto</a>
</p>

<p>
    <a asp-controller="Produto" asp-action="IndexProduto" class="btn btn-primary">Voltar</a>
</p>

<table class="table custom-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.idProduto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantidade)
            </th>
            <th class="text-center">Ação</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td class="text-center">
                    <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@item.idProduto" class="btn btn-sm btn-warning">Editar</a>
                    <span>|</span>
                    <a asp-controller="Produto" asp-action="ExcluirProduto" asp-route-id="@item.idProduto"
                       onclick="return confirm('Deseja realmente Excluir este item?');" class="btn btn-sm btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>