@model IEnumerable<Projeto1Loja.Models.Produto>

@{
    ViewData["Title"] = "Lista de Produtos";
}

<link href="~/css/listaproduto.css" rel="stylesheet" />

<fieldset>

<table class="tabela">
    <thead>
        <tr>
            <th>IdProduto</th>
            <th>Nome</th>
            <th>Descrição</th>
            <th>Preço</th>
            <th>Quantidade</th>
            <th class="text-center">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
            {
                <tr>
                    <td>
                    @Html.DisplayFor(modelItem => item.idProduto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantidade)
                </td>
                <td class="text-center">
                    <a asp-controller="Produto" asp-action="EditarProduto" asp-route-id="@item.idProduto" class="btn btn-sm btn-warning">Editar</a>
                    <span>|</span>
                    <a asp-controller="Produto" asp-action="ExcluirProduto" asp-route-id="@item.idProduto"
                       onclick="return confirm('Deseja realmente Excluir este item?');" class="btn btn-sm btn-danger">Excluir</a>
                </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="botoes">
        <p>
            <a asp-controller="Produto" asp-action="CadastrarProduto" class="btn btn-primary">Cadastrar Produto</a>
        </p>

        <p>
            <a asp-controller="Usuario" asp-action="Login" id="btnvoltar" class="btn btn-primary">Voltar</a>
        </p>
    </div>
</fieldset>